node_modules/
.DS_Store
*.log
*.env
*.tmp
dist/
coverage/
build/
.vscode/
.idea/
*.tmp
*.cache
*.lib
*.coverage
*.env.local
*.env.development
*.env.test
*.env.production
*.env.example
*.eslintcache
*.prettiercache
*.stylelintcache
*.yarn-integrity
*.yarn-cache
*.yarn-error.log
*.next/
.next/
out/
.cache/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.lock-wscript